# Copy to /etc/velvet/camera-video0.env after verifying the real device.
VELVET_CAMERA_INPUT_MODE=v4l2
VELVET_CAMERA_DEVICE=/dev/video0
VELVET_CAMERA_FRAME_PATH=/run/velvet/camera/latest-frame.jpg
VELVET_CAMERA_SOURCE_ID=camera.front
VELVET_CAMERA_MODULE_ID=camera-frame-front
VELVET_CAMERA_NODE_ID=founder-up2
VELVET_CAMERA_OWNER=Velvet
VELVET_CAMERA_FFMPEG=/usr/bin/ffmpeg
VELVET_CAMERA_WIDTH=1280
VELVET_CAMERA_HEIGHT=720
VELVET_CAMERA_FRAMERATE=5
VELVET_CAMERA_INPUT_FORMAT=mjpeg
VELVET_CAMERA_JPEG_QUALITY=5
VELVET_CAMERA_CAPTURE_TIMEOUT=5
VELVET_CAMERA_INTERVAL_MS=1000
VELVET_CAMERA_STALE_AFTER_MS=5000
VELVET_CAMERA_FAILURE_THRESHOLD=3
VELVET_CAMERA_MAX_BYTES=16777216
VELVET_CAMERA_MAX_PIXELS=40000000
