# Copy to /etc/velvet/microphone-main.env after verifying the real ALSA device.
VELVET_MICROPHONE_DEVICE=hw:0,0
VELVET_MICROPHONE_CHANNELS=5
VELVET_MICROPHONE_CHANNEL_LABELS=front-left,front-right,rear-left,rear-right,roof-center
VELVET_MICROPHONE_RATE_HZ=16000
VELVET_MICROPHONE_PROBE_SECONDS=1
VELVET_MICROPHONE_INTERVAL_MS=5000
VELVET_MICROPHONE_STALE_AFTER_MS=15000
VELVET_MICROPHONE_QUIET_DBFS=-55.0
VELVET_MICROPHONE_CLIPPING_PEAK_DBFS=-0.25
VELVET_MICROPHONE_CLIPPING_RATIO=0.001
VELVET_MICROPHONE_FAILURE_THRESHOLD=3
VELVET_MICROPHONE_MODULE_ID=microphone-input-main
VELVET_MICROPHONE_SOURCE_ID=microphone.array.roof
VELVET_MICROPHONE_NODE_ID=founder-up2
VELVET_MICROPHONE_OWNER=Velvet
